<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/mystyle.css">
    <meta charset="UTF-8">
    <title>Hub - Rosla Technologies</title>
</head>
<body>
<div class="header">
    <h1> Rosla Technologies </h1>
</div>

<h1>Welcome to the Hub</h1>

<div class = option>
    <a href="/info">
        <button class="infromation">
            <h1>More information</h1>
        </button>
    </a>
    <p>

    </p>
</div>

<div class = option>
    <a href="/consulting">
        <button class="consult">
            <h1>Consulting booking</h1>
        </button>
    </a>
    <p>

    </p>
</div>

<div class = option>
    <a href="/install">
        <button class="install">
            <h1>Installation booking</h1>
        </button>
    </a>
    <p>

    </p>
</div>

<div class = option>
    <a href="/carbon">
        <button class="carbon">
            <h1>Carbon footprint</h1>
        </button>
    </a>
    <p>

    </p>
</div>

<div class = option>
    <a href="/settings">
        <button class="settings">
            <h1>Settings</h1>
        </button>
    </a>
    <p>

    </p>
</div>

</body>
</html>