<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/mystyle.css">
    <meta charset="UTF-8">
    <title>Solar</title>
    <meta charset="UTF-8">
    <title>Login - Rosla Technologies</title>
</head>
<body>
<div class="header">
    <h1> Rosla Technologies </h1>
</div>

{% if error %}
        <p class="error">{{ error }}</p>
{% endif %}

<div class = "whole">
    <div class="inbox">
        <form action="/login" method="post">
            <!--username input -->
            <label for="name"> Username:</label>
            <input type="text" id="name" name="name"><br>
            <!--password input -->
            <label for="pasw"> Password:</label>
            <input type="password" id="pasw" name="pasw"><br>
            <!-- submission -->
            <button type="submit">Login</button>
        </form>
    </div>
</div>
<h5> You don't have an account?
<a href ="/register">Press here</a>
</h5>
</body>
</html>